<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBPACK WORKFLOW</title>
</head>
<body>
    <h1>WEBPACK WORKFLOW</h1>

    {{>partials/navigation}}

    <img src="static/img/logo.png" alt="fazt logo">
    
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt tenetur officiis corporis sequi facilis exercitationem nisi reprehenderit, vel minima quis totam est voluptates beatae ipsam vitae veritatis commodi omnis voluptatum.</p>

    {{> partials/footer}}

</body>
</html>